# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.DS_Store
*.iml
*.log

# Android secrets
local.properties
android/local.properties
android/*.jks
android/*.keystore
/keystore/
android/key.properties

# Node
node_modules/
scripts/node_modules/

# Firebase
google-services.json
GoogleService-Info.plist
